<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<!-- 使用Spring封装的Mail Sender -->
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.smtp.timeout">${mail.password}</prop>
			</props>
		</property>
	</bean>

	<!-- freemarker config -->
	<bean id="mailTemplateEngine"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath"
			value="/WEB-INF/mailtemplate/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
			</props>
		</property>
	</bean>
	<!-- Mock的Mail Service,仅把信件内容打印到屏幕,如果需要真正发邮件，请使用JavaMailServiceImpl -->
	<!-- <bean id="mailService"
		class="ins.framework.mail.MockMailServiceImpl" />
	-->
	<bean id="mailService"
		class="ins.framework.mail.JavaMailServiceImpl" />
</beans>